doctype html
html
  head
    meta(charset='utf-8')
    title my tile
    
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="css/style.css")
  body
    p1 My Game
    p2 #{game_name}
    caption
    table(id='board')
    
    script(src="js/script.js")
    